extends layout

block content
  div.row
    div.col-md-8.col-md-offset-2
      form.form-horizontal.form-upload#form-upload(action="/upload" method="POST" enctype="multipart/form-data" accept="image/*")
        div.form-group
          label.col-sm-4 Folder Input
          input.col-sm-8(type="file" name="file" id="file" multiple accept="image/*")
          input.col-sm-8(type="hidden" name="session" value=session id="session")
        button.pull-right.btn-upload(type="submit" class="btn btn-default") Upload
          i#spinner.fa.fa-spinner.fa-spin.fa-fw.hidden
  div.row
    div.col-md-8.col-md-offset-2
      ul#file-list
      li#file-item
          span.file-name file_1
          span.progress 0
          span %

  div.row
    div.col-md-8.col-md-offset-2
      a#download.hidden(href='') Download