doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/lib/bootstrap/js/bootstrap.min.js")
    script(src="/lib/progressbar/progressbar.min.js")
    script(src="/javascripts/script.js")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header 
          a.navbar-brand Waifu2x-Hack
    div.container
      block content
