body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-upload{
  margin-top: 50px;
}

#file-list, #file-item{
  display: none
}

li span.file-name{
  margin-right: 5px;
}
